﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="cutaway">
    <div class="top hidden-xs">
        <div class="title col-sm-2 col-sm-offset-7">+37544 7815921</div>
        <div class="title col-sm-3">maxnikitin112@gmail.com</div>
    </div>
    <div id="header" >
        <img src="/Files/header.jpg" class="img-responsive" />
    </div>

    <div class="icon-wraper">
        <dl class="col-md-4">
            <dt>
                <span class="icon-m"></span>
                <label class="icon-text">Hello stranger! You are visited Max Nikitin web site. Now I'm looking for job.
                 Below you can find my key skills. If you an employer and if my skills match your needs than you can contact me </label>
           </dt>
        </dl>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
