﻿@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AnfisaGrotesk";
    src: url("/fonts/AnfisaGrotesk.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #dcdcdc;
}

input,
select,
textarea {
    max-width: 280px;
}

.header-img{
    width: 100%;
    height: 450px;
}

.top{
    height: 21px;
    background-color: #20B3F6;
}

.icon-wraper dt {
    border-top: 5px solid #FFC61A;
    margin-top: -2.5px;
    height: 40px;
    transition: all 0.5s ease;
    animation-delay: 1s;
}

.icon-wraper dl {
    margin: 0px;
    padding: 0px;
}

dt:hover{
    transform: translate(0, -65px);
    -webkit-transform: translate(0, -65px);
    -moz-transform: translate(0, -65px);
    -o-transform: translate(0, -65px);
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 150px;
}

.icon-text{
    opacity: 0;
    transition: all 0.5s ease;
    animation-delay: 1s;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

dt:hover .icon-text{
    opacity: 1;
}

.icon-wraper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.icon-m{
    width: 68px;
    height: 74px;
    background: url("/Files/icons.png") no-repeat;
    background-position: -15px -10px;
    display: block;
    margin : -42px auto 7px;
}

.icon{
    height: 100px;
    width: 100px;
    display: block;
}

.icon.icon-cs{
    background: url("/Files/cs.png") no-repeat;
}

.icon.icon-js{
    background: url("/Files/js.png") no-repeat;
}

.icon.icon-jquery{
    background: url("/Files/jquery.png") no-repeat;
}

.icon.icon-bootstrap{
    background: url("/Files/bootstrap.png") no-repeat;
}

.icon.icon-angularjs{
    background: url("/Files/angularjs.png") no-repeat;
}

.icon.icon-aspnet{
    background: url("/Files/aspnet.png") no-repeat;
    width: 200px;
}

.icon.icon-css{
    background: url("/Files/css3.png") no-repeat;
}

.icon.icon-html{
    background: url("/Files/html5.png") no-repeat;
}

.icon.icon-cpp{
    background: url("/Files/cpp.png") no-repeat;
}

.content-container{
    height: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    animation-delay: 1s;
}

.content-container:hover{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 250px;
}

.content-header{
    display: flex;
    justify-content: center;
}

.content-body{
    margin-top: 15px;
    opacity: 0;
    transition: all 0.5s ease;
    animation-delay: 1s;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
}

.content-container:hover .content-body{
    opacity: 1;
}

.quiz{
    padding-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    background-color: #FFF;
}

.title{
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    padding: 0px;
}

@media(max-width: 992px){
    .content-body{
        margin-top: 0px;
    }
}

.cv{
    font-family: AnfisaGrotesk;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

.cv-item{
    transition: all 0.5s ease;
    animation-delay: 1s;
    cursor: pointer;
}

.cv-item:hover{
    color: #0a92ff;
    font-size: 40px;
}