﻿<div class="container">
    <div class="row" ng-controller="KeySkillsController as keySkills">
        <div class="col-sm-4 content-container" ng-repeat="skill in keySkills.skills" ng-style="{true: {clear:'left'}, false: {}}[{{keySkills.skills.indexOf(skill) % 3 == 0}}]">
            <div class="content-header">
                <span class="icon icon-{{skill.name}}"></span>
            </div>
            <div class="content-body">
                <p>{{skill.description}}</p>
            </div>
        </div>
    </div>
    <div class="cv">
        <a href="CV.pdf" class="cv-item" target="_blank">Curriculum vitae</a>
    </div>
</div>
